/* Variables */
$title-text: 'Montserrat', sans-serif;
$subtitle-text: 'Roboto Slab', serif;
$main-text: 'Kanit', sans-serif;


/* Global */

body {
margin: 0;
font-size: 14px;
}

/* Navigation */

.navigation {
    background-color: transparent;
    margin-top: 44px;
    .navbar-logo {
        font-family: 'Great Vibes', cursive;
        font-size: 26px;
        color: #ffcc33;
    }
    .main-menu {
        align-items: center;
        .row {
            justify-content: space-between;
        }
    }
    a {
        cursor: pointer;
    }
    .nav-links{
        a {
            font-family: $title-text;
            text-decoration: none;
        }
    } 
}