
/* Variables */
$title-text: 'Montserrat', sans-serif;
$subtitle-text: 'Roboto Slab', serif;
$main-text: 'Kanit', sans-serif;


/* Global */

body {
margin: 0;
font-size: 14px;
}

/* Home */

.home {
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/image/Background.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.header-block {
    margin-top: 205px;
}

.middle-text {
    justify-content: center;
    color: #fff;
    .middle-text-element {
        text-align: center;
        .header-subtitle {
            font-size: 40px;
            font-family: $subtitle-text;
        }
        .header-title {
            font-size: 75px;
            font-family: $title-text;
            text-transform: uppercase;
            margin: 56px 0;
        }
        .btn {
            text-decoration: none;
            padding: 26px 52px;
            background-color: #ffcc33;
            border-radius: 5px;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
            font-family: $title-text;
            font-weight: bold;
        }
    }
}

/* Navigation */

.navigation {
    background-color: transparent;
    padding-top: 44px;
    .navbar-logo {
        font-family: 'Great Vibes', cursive;
        font-size: 30px;
        color: #ffcc33;
    }
    .main-menu {
        align-items: center;
        .row {
            justify-content: space-between;
        }
    }
    a {
        cursor: pointer;
    }
    .nav-links{
        a {
            font-family: $title-text;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            transition: 1s;
            &:hover {
                transform: scale(1.2);
            }
        }
    } 
}

/* Services */

.services {
    margin: 118px auto;
}

.services-titles {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 39px;
    .services-title {
        font-size: 40px;
        font-family: $title-text;
        text-transform: uppercase;
        margin-bottom: 19px;
    }
    .services-subtitle {
        color: #777777;
        font-size:  17px;
    }
}
.services-block {
    justify-content: center;
    .services-block-item {
        text-align: center;
        margin: 39px 28px 0 28px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        max-width: 274px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        .icon-block {
            border: medium solid #ffcc33;
            border-radius: 50%;
            width: 69px;
            height: 68px;
        }
        .services-icon {
            font-size: 39px;
            color: #ffcc33;
            margin-top: 11px;
        }
        h4 {
            font-size: 18px;
            font-family: $title-text;
            font-weight: bold;
            margin-bottom: 0;
        }
        p {
            color: #777777;
            font-family: $main-text;
        }
    }
}

/* Portfolio */

.portfolio {
    background-color: #F7F7F7;
    padding: 120px 0;
}

.portfolio-titles-block {
    text-align: center;
    line-height: 19px;
    margin-bottom: 25px;
    .portfolio-title {
        font-size: 40px;
        font-family: $title-text;
        text-transform: uppercase;
        margin: 0;
    }
    .portfolio-subtitle {
        font-size: 16px;
        color: #777777;
    }
}

.portfolio-block {
    .row {
        justify-content: center;
    }
    .portfolio-block-item {
        margin: 49px 16px;
        text-align: center;
        padding: 0;
        background-color: #fff;
        max-width: 290px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

/* Footer */

footer {
    margin: 39px 0;
    .footer-block {
        justify-content: center;
    }
    .copyright {
        text-align: right;
        padding-right: 47px;
    }
}
.social {
    .social-block {
        justify-content: center;
    }
    .social-block-item {
        width: 42px;
        height: 42px;
        background-color: #000000;
        border-radius:  50%;
        text-align: center;
        margin-right: 8px;
        transition: all 1s;
        .social-icon {
            color: #fff;
            font-size: 18px;
            margin-top: 11px;
        }
        &:hover {
            &:nth-child(1) {
                background-color: #00ACED;
            }
            &:nth-child(2) {
                background-color: #3B5998;
            }
            &:nth-child(3) {
                background-color: #CB2028;
            }
            &:nth-child(4) {
                background-color: #DA2713;
            }
        }
    }
}

/* Media */

@media (max-width: 920px) {
    .nav-links {
        flex-direction: column;
        text-align: end;
    }
    .header-block  {
        margin-top: 105px;
        .row {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
        .middle-text-element {
            .header-subtitle {
                font-size: 30px;
            }
            .header-title {
                font-size: 60px;
            }
        }
    }
    .services-block-item {
        &:first-child {
            margin-left: 28px !important;
        }
        &:last-child {
            margin-right: 28px !important;
        }
    }
    .portfolio-block-item {
        &:first-child {
            margin-left: 16px !important;
        }
        &:last-child {
            margin-right: 16px !important;
        }
    }

    .footer-block {
        flex-direction: column;
        align-items: center;
        .copyright {
            text-align: center;
            padding-right: 0;
        }
    }

}