/* Variables */
$title-text: 'Montserrat', sans-serif;
$subtitle-text: 'Roboto Slab', serif;
$main-text: 'Kanit', sans-serif;


/* Global */

body {
margin: 0;
font-size: 14px;
}

/* Home */

.home {
    height: 100vh;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/image/Background.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Navigation */

.navigation {
    background-color: transparent;
    padding-top: 44px;
    .navbar-logo {
        font-family: 'Great Vibes', cursive;
        font-size: 26px;
        color: #ffcc33;
    }
    .main-menu {
        align-items: center;
        .row {
            justify-content: space-between;
        }
    }
    a {
        cursor: pointer;
    }
    .nav-links{
        a {
            font-family: $title-text;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }
    } 
}